<H4>Welcome to Predict the Lions 2017 </h4>


<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link', class: "btn btn-success btn-sm"  %> <br>
<%= link_to "Login", new_user_session_path, :class => 'navbar-link', class: "btn btn-success btn-sm"  %>